.features{
   display: grid;
   grid-template-columns: repeat(3, 33%);
   justify-content: center;
   text-align: center;

   .feature{
        display: inherit;
        grid-template-rows: repeat(3, 1fr);
        gap: 0.5rem;

        img{
            display: block;
            margin: 0 auto;
        }
   }

}

.companies{
    display: flex;
    justify-content: space-evenly;
}

